@font-face{
  font-family: 'Citrica-Regular';
src: url('./fonts/Citrica-Regular.ttf');
}
@font-face{
  font-family: 'Intro_Inline';
src: url('./fonts/Intro_Inline.otf');
}

.back{
  position: fixed;
  z-index: 101;
  margin: 1% 2%;
  opacity: 0.5;
}

.back:hover{
  opacity: 1;
}

.header{
  font-family: 'Intro_Inline';
  text-align: center;
  background-color: black;
  color: white;
  font-size: 50px;
  padding-top: 4%;
  padding-bottom: 4%;
}

.gallery{
  text-align: center;
}

body{
  margin: 0;
  background-color: black;
}
