@font-face{
  font-family: 'Citrica-Regular';
src: url('./fonts/Citrica-Regular.ttf');
}
@font-face{
  font-family: 'Intro_Inline';
src: url('./fonts/Intro_Inline.otf');
}

@font-face{
  font-family: 'Next_Art';
src: url('./fonts/Next_Art.otf');
}

.refresh a:hover{
  color: #AA3131;
}

*{
  font-family: 'Poiret One', cursive;;
  letter-spacing:0.5px;
}

html, body
{
width:100%;
overflow-x: hidden;
}


div.row.mar{
  margin-left:  0;
  margin-right: 0;
}

.nav{
  list-style-type: none;
  text-align: center;
  background-color: black;
  border: 10px;
  border-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@media  (max-width:765px) {
  div.nav li a {
    font-size: 55%;
    padding: 0 0px;
  }
}

ul.no-list {
  padding: 0;
}


 .nav li{
   display: inline;
   padding: 0 1%;
   font-size: 15px;
 }

 .nav li a{
   color: white;
   font-family: 'Next_Art';
 }

 .nav li a:hover{
   color: #AA3131;
   text-decoration: none;
 }

a:link{
  text-decoration: none;
}

 .nav ul{
   margin-top: 15px;
   margin-bottom: 15px;
 }

#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
height: 100%;
width: 100%;
background: #111111;
z-index: 9999;}

.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 50%;
margin-left:-125px;
margin-top:-75px;
color:#fff;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;}

#p_prldr .svg_anm {
position: absolute;
width: 81px;
height: 81px;
background: url(Triangles.svg) center center no-repeat;
background-size:81px;
margin: -16px 0 0 -16px;}

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: black;
  margin-top: 30px;
  background-position: 50% 50%;
}

.headerMob{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 7%;
}


div.col-md-3{
text-align: center;
border: 1px black solid;
padding: 0;
padding-top: 5px;
}

div.col-md-6{
  border: 7px solid black;
  padding: 0;
}

div.col-md-3:hover{
  background: black;
  color: white;
}
div.col-md-3:active{
  background: black;
  color: white;
}

.aboutMe{
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  max-height: 100%;
  border: none;
  text-align: justify;
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 765px) {
  .aboutMe {font-size: 20px;}
}

@media (min-width: 1750px) {
  .aboutMe {font-size: 25px;
    padding-left: 13%;
      padding-right: 13%;}
}


.aboutText{
  padding: 0 12%;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  padding-bottom: 4%;
}

div.aboutText p{
  text-indent:10%;
  margin: 0 0 -4%;
}

h10{
  font-family: 'Next_Art';
  font-size: 24px;
  text-align: center;
  color: white;
}

.portfolio{
    background-color: black;
}

div.row2{
  padding: 0;
  border: 7px solid black;
}

.contacts{
  min-height: 300px;
}

div.contact{
  border: none;
  text-align: center;
  font-size: 30px;
  font-weight: bold;

}
a.con{
  color: black;
}

a.con:hover{
  color:#AA3131;
}

.email a{
  color: black;
  text-decoration: none;
}

.email a:hover{
  color: #AA3131;
}

div.footer{
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
  min-height: 100px;
  padding-top: 37px;
}

@media (max-width: 765px) {
  .more a{
    font-size: 30px;
    text-align: center;
  }
}

.more{
  font-size: 50px;
  text-align: center;
  padding-top: 2%;

}

a.more{
  font-family: 'Intro_Inline';
  color: white;
  
}

a.more:hover{
  color: #AA3131;
  text-decoration: none;
}

.h1_portfolio{
  font-family: 'Intro_Inline';
  font-size: 45px;
  text-align: center;
  margin-top: 0;
  padding-top: 11px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: black;
}

div.lines{
  padding-bottom: 2%;
}

@media (max-width: 765px) {
  .lines img{
    width: 100%;
  }
}
